#yoga_container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0 auto;
    margin-top: 10rem;
  
}

#yoga_container .yoga-second-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

#yoga_img {
    width: 40%;
    background-image: url(../../../public/storage/logos/logo.png);
    background-position: center;
    background-size: 40rem auto;
    height: auto;
    background-repeat: no-repeat;
}

.yoga_information {
 width: 70%;
 padding: 9rem;

}

.yoga_information p {
    font-size: 2rem;
}